.container {
  max-width: 120rem; //1200px or all the available space
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  /* pushes the latter element to the bottom */
  justify-content: space-between;
}

.hotel-view {
  flex: 1;

  height: 80rem;
  background-color: blue;
  //background-color: #fff;



}
